img{
    display: inline;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 20px 0 0;
}
body{
    background-color: gray;
}
.imagebet{
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: "Arial Black", cursive ;
    color: rgba(73, 73, 172, 0.69);
}
h2{
    font-family: "Lobster Two", sans-serif;
    margin:auto;
    text-align: center;
}
p{
    font-size: 20px;
}
b{
    font-family: "Gravitas One", serif;
    color: azure;
}
