*{
    margin: 0;
}
main{
    display: flex;
}
header{
    width: 100%;
    height: 20vh;
    background: #8D8484;
}
footer{
    width: 100%;
    height: 20vh;
    background-color: #BDBDBD;
}
.content-1{
    width: 73vw;
    height: 20vh;
    background: #776969;
}
.content-2{
    width: 73vw;
    height: 20vh;
    background: #643030;
}
.content-3{
     width: 73vw;
     height: 20vh;
    background: #441818;
 }
.spam-1{
    width: 27vw;
    height: 30vh;
    background-color: #937575;
}
.spam-2{
    width: 27vw;
    height: 30vh;
    background-color: #644C4C;
}
header, footer,aside,section{
    font-size: 20px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer,header{
    color: black;
}
