*{
    margin: 0;
    padding: 0;
}
header{
    height:5vh;
    background-color: #D9D9D9;
}
.sidepart{
    height:74vh;
    width: 59vw;
    background-color: #A4A4A4;
}
footer{
    height:11vh;
    background-color: #AFA9A9;
}
.section-1{
    height:40vh;
    width: 41vw;
    background-color: #7F7A7A;
}
.section-2{
    width:41vw;
    height:34vh;
    background-color: #615050;
}
.under{
    height:10vh;
    background-color: #D9D9D9;
}
main{
    display: flex;
}
