*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
}
header{
    height:4vh;
    background-color: #D9D9D9;
}
footer{
    height:10vh;
    background-color: #D9D9D9;
}
.left{
    width:31vw;
    height:86vh;
    background-color: #A4A4A4;
}
.center{
    width:31vw;
    height:86vh;
    background-color: #C1C1C1;
}
.content-1{
    height:43vh;
    width:41vw;
    background-color: #7F7A7A;
}
.content-2{
    height:43vh;
    width:41vw;
    background-color: #6B6161;
}
