*{
    margin: 0;
    padding: 0;
}
header, footer{
    width: 100%;
    height: 22vh;
    background-color: #d9d9d9;
}
main{
    height: 56vh;
    display: flex;

}
aside{
    height: 100%;
    width: 27vw;
    background-color: #c0bdbd;
}
section{
    height: 100%;
    width:46vw;
    background-color: #a4a4a4;
}
