*{
    margin: 0;
}
header, footer{
    width: 100%;
    height: 22vh;
    background-color: #D9D9D9;
}
main{
    display: flex;
    width: 100%;
    height: 56vh;
}
aside{
    height: 100%;
    width: 27vw;
    background-color: #C0BDBD;
}
.up{
   width: 54vw;
    height:26vh;
    background-color: #827878;
}
.down{

    width: 54vw;
    height:30vh;
    background-color: #B7ADAD;
}
