body{
    background-image: url("https://i.pinimg.com/736x/79/5a/a4/795aa4efc591584e1ea6649411585752.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
p{
    color: darkviolet;
    /*font-size: 64px;*/
    width: 75%;
    background-color: #49ac8e;
    height: 25px;
    display: inline-block;
}
h6,h2 ,h1{
    color: #4949ac;]

}
sub,sup{
    color: cyan;
    /*font-size: 12px;*/
}
span{
    color: darkviolet;
    width: 50%;
    background-color: #5eac49;
    height: 25px;
    display: inline-block;
}
img{
    width: 190px;
    height: 190px;
    object-fit: cover;
}
