.top{
    height: 50vh;
    background-color: rgba(255, 0, 0, 0.44);
    border: 3px red solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.81);
    border: 3px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
*{
    margin: 0;
}
.inside{
    height: 50vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Badeen Display", system-ui;
}
h2{
    margin: 0 0 30px 0;
    font-family: "Arial Black", cursive;
}

