.cards{
    width: 250px;
    height: 250px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}
.idk{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 75%;

}
h1,h5{
    text-align: center;
}
hr{
    width: 85%;
    height: 3px;
    background-color: lightgray;
}
