*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}
section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Home{
    background-color: darkviolet;
}
#About{
    background-color:violet;
}
#Contact{
    background-color: mediumvioletred;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

