*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Home{
    background-color: darkviolet;
}
#About{
    background-color:violet;
}
#Contact{
    background-color: mediumvioletred;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav li{
    font-size: large;
    font-family: "Arial Black", cursive;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
.arrow{
    font-size: 30px;
}
nav ul a{
    color: black;
}
h1{
    font-size: 50px;
    font-family: "Bitcount Grid Single", system-ui;
}
